<%= form_for(@orgao) do |f| %>
  <% if @orgao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orgao.errors.count, "error") %> prohibited this orgao from being saved:</h2>

      <ul>
      <% @orgao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sigla %><br />
    <%= f.text_field :sigla %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
