<h1>Listing orgaos</h1>

<table>
  <tr>
    <th>Sigla</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orgaos.each do |orgao| %>
  <tr>
    <td><%= orgao.sigla %></td>
    <td><%= orgao.descricao %></td>
    <td><%= link_to 'Show', orgao %></td>
    <td><%= link_to 'Edit', edit_orgao_path(orgao) %></td>
    <td><%= link_to 'Destroy', orgao, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orgao', new_orgao_path %>
